## Tutorial 2-Basics Of Python

In [1]:
print("Hello world my love")
print("Welcome To my channel")

Hello world my love
Welcome To my channel

In [133]:
# Single Line and multiline comments

#nigga nigga nigga nigga

'''
Welcome to my youtube
channel

'''
print("Hello")

Hello

In [134]:
# Variable declaration
a=10
type(a)

int

In [135]:
print(a)

10

In [2]:
tenth=10
b=40
c="krish"
print("The value of tenth is {} and the value of b is {} and the value of c is {}".format(tenth,b,c))

The value of tenth is 10 and the value of b is 40 and the value of c is krish

In [137]:
type(c)

str

In [138]:
a1=10

In [139]:
first_name="Krish"
print(first_name)

Krish

In [140]:
##integers
a=10
type(a)

int

In [141]:
a+10

20

In [142]:
a*10

100

In [143]:
a/10

1.0

In [144]:
a%10

0

In [145]:
print(type(a))

<class 'int'>

In [4]:
a=10
b=20
print(a+b)

30

In [5]:
#floating
a=190.5
a

190.5

In [6]:
##Typecasting
print(type(a))
print(int(a))
print(a)
a=int(a)
print(a)

<class 'float'>
190
190.5
190

In [8]:
print(float(b))
print(b)

20.0
20

In [9]:
##Boolean
a1=True
b1=False
print("The value of a1 is {} and the value of b1 is {}".format(a1,b1))

The value of a1 is True and the value of b1 is False

In [10]:
type(a1)

bool

In [11]:
a1 | b1

True

In [12]:
#strings
name1="Krish"

print(name1)
print(type(name1))

Krish
<class 'str'>

In [14]:
name1+ "Naik"
print(name1)
name1 = name1 + 'Naik'
print(name1)

KrishNaik
KrishNaikNaik

In [15]:
name1 + str(1) # str typecasted 1 to string

'KrishNaikNaik1'

In [16]:
##complex numbers
j=1.0-2.3j
print(j)

(1-2.3j)

In [17]:
print(j.real,j.imag)

1.0 -2.3

In [22]:
#Dynamic Typing
a=10
a='Krish'
print(a)

Krish

In [23]:
#strong typing - Strong typing means that variables do have a type and that the type matters when performing operations on a variable
a="KRish"

In [24]:
a+ str(1)

'KRish1'

In [26]:
# a+1 - Unlike JavaScript, this gives us an error

In [27]:
#string Formatting

a=100
b=23
c=366
print("The values is - ",a)
print("The values is - ",a,b,)
print("The values is - ",a,b,c)

The values is -  100
The values is -  100 23
The values is -  100 23 366

In [28]:
first_name="Krish"
last_name="Naik"
print("The first name is {a} and last name is {b}".format(b=last_name,a=first_name))

The first name is Krish and last name is Naik

In [163]:
## input type
a=input("Enter the number A ")
b=input("enter the number B ") 
print(int(a)+int(b))

56