## Python Data Structures and Boolean 

- Boolean
- Boolean and Logical Operators
- Lists
- Comparison operators
- Dictionaries
- Tuples
- Sets

### Boolean Variables

Boolean values are the two constant objects False and True. 

They are used to represent truth values (other values can also be considered
false or true). 

In numeric contexts (for example, when used as the argument to an
arithmetic operator), they behave like the integers 0 and 1, respectively.

The built-in function bool() can be used to cast any value to a Boolean,
if the value can be interpreted as a truth value

They are written as False and True, respectively.

In [231]:
False

False

In [232]:
print(True,False)

True False

In [233]:
type(True)

bool

In [234]:
type(False)

bool

In [235]:
my_str='Krish123'
print(my_str)

Krish123

In [236]:
my_str.istitle()

'''
The istitle() method returns True if all words in a text start with a upper case letter, AND the rest of the word are lower case letters, 
otherwise False.

Symbols and numbers are ignored.
'''

'\nThe istitle() method returns True if all words in a text start with a upper case letter, AND the rest of the word are lower case letters, \notherwise False.\n\nSymbols and numbers are ignored.\n'

In [237]:
print(my_str.isalnum()) #check if all char are alpha-numberic
print(my_str.isalpha()) #check if all char in the string are alphabetic
print(my_str.isdigit()) #test if all characters in the string contains digits
print(my_str.istitle()) #test if string contains title words
print(my_str.isupper()) #test if string contains all letters as upper case
print(my_str.islower()) #test if string contains all letters as lower case
print(my_str.isspace()) #test if string contains all whitespaces
print(my_str.endswith('k')) #test if string end swith a k
print(my_str.startswith('K')) #test if string starts with K

True
False
False
True
False
False
False
False
True

### Boolean and Logical Operators

In [238]:
True and True

True

In [239]:
True and False

False

In [240]:
True or False

True

In [241]:
True or True

True

In [242]:
str_example='Hello World'
my_str='Krish'

In [243]:
my_str.isalpha() or str_example.isnum()

True

### Lists

A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. By ordered sequence, we mean that the order of elements is always preserved as given by the user.  Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets [ ]

In [244]:
##mutable vs immutable
str1="Krish"
print(str1)
type(str1)

Krish

str

In [245]:
str1="Naik"
print(str1)

Naik

In [246]:
## string are immutable, which means particular characters of a string cannot be changed 
# str1[2]="jk"

In [247]:
## Lists
## mutable
lst=[1,2,3,4,"Krish","Helllo"]
print(lst)
lst[4]="Naik"
print(lst[4])

[1, 2, 3, 4, 'Krish', 'Helllo']
Naik

In [248]:
lst=list((1,2,3,4,5))
type(lst)
print(lst)

[1, 2, 3, 4, 5]

In [249]:
lst=[1,2,3,4,5]

In [250]:
for i in lst:
    print(i**2)
print(lst)
for i in range(len(lst)):
   lst[i] = lst[i]**2
print(lst)

1
4
9
16
25
[1, 2, 3, 4, 5]
[1, 4, 9, 16, 25]

In [251]:
min(lst)

1

In [252]:
type([])

list

In [253]:
lst_example=[] # Decalring an empty list
type(lst_example)

list

In [254]:
lst=list() # Decalring an empty list

In [255]:
type(lst)

list

In [1]:
lst=['Mathematics', 'chemistry', 100, 200, 300, 204]

In [2]:
len(lst)

6

In [3]:
type(lst)

list

### Append

In [4]:
lst

['Mathematics', 'chemistry', 100, 200, 300, 204]

In [5]:
#.append is used to add elements in the list
lst.append("Krish")
lst

['Mathematics', 'chemistry', 100, 200, 300, 204, 'Krish']

In [6]:
lst.append(["John","Bala"])
lst

['Mathematics', 'chemistry', 100, 200, 300, 204, 'Krish', ['John', 'Bala']]

In [7]:
lst[2:6]

[100, 200, 300, 204]

In [8]:
lst

['Mathematics', 'chemistry', 100, 200, 300, 204, 'Krish', ['John', 'Bala']]

In [9]:
##Indexing in List
print(lst[6])
print(lst[7])
print(lst[7][0])
print(lst[7][1])

Krish
['John', 'Bala']
John
Bala

In [10]:
lst[1:6]

['chemistry', 100, 200, 300, 204]

### Insert

In [11]:
lst

['Mathematics', 'chemistry', 100, 200, 300, 204, 'Krish', ['John', 'Bala']]

In [12]:
## insert in a specific order

lst.insert(2,"Naik")
print(lst)
lst.append(["Hello","World"])
print(lst)

['Mathematics', 'chemistry', 'Naik', 100, 200, 300, 204, 'Krish', ['John', 'Bala']]
['Mathematics', 'chemistry', 'Naik', 100, 200, 300, 204, 'Krish', ['John', 'Bala'], ['Hello', 'World']]

In [13]:
lst=[1,2,3]
lst.append([4,5])
print(lst)

[1, 2, 3, [4, 5]]

### Extend Method

In [14]:
lst=[1,2,3,4,5,6]

In [15]:
lst.append([8,9])
lst

[1, 2, 3, 4, 5, 6, [8, 9]]

In [16]:
lst.extend([8,9])
print(lst)

[1, 2, 3, 4, 5, 6, [8, 9], 8, 9]

### Various Operations that we can perform in List

In [17]:
lst=[1,2,3,4,5]

In [18]:
sum(lst)

15

In [19]:
lst*5

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [20]:
for i in lst:
    print(i/5)

0.2
0.4
0.6
0.8
1.0

In [21]:
print(lst*5)
print(lst)
lst=lst*5
print(lst)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [22]:
lst

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

### Pop() Method

In [23]:
lst=[1,2,3,4,5]
lst.pop()

5

In [24]:
lst

[1, 2, 3, 4]

In [25]:
lst.pop(2)

3

In [26]:
lst

[1, 2, 4]

### count():Calculates total occurrence of given element of List

In [27]:
lst=[1,1,1,1,2,3,4,5]
lst.count(1)

4

In [28]:
#length:Calculates total length of List
len(lst)

8

In [29]:
# index(): Returns the index of first occurrence. Start and End index are not necessary parameters
lst.index(3,1,7)

5

In [30]:
##Min and Max
min(lst)

1

In [31]:
max(lst)

5

## SETS

A Set is an unordered collection data type that is iterable, immutable, and has no duplicate elements. By unordered collection, we mean that no matter whatever order does the user give, the elements can be obtained in any order as per the wish of the kernel compiler. 
By immutable, we mean that set class does not support item assignment via indexed method, however yu can add or delete items, or chnage the set itself completely. Python's set class represents the mathematical notion of a set. This is based on a data structure known as a hash table

In [32]:
''' 
Decalring a Set, there are 2 ways
Way 1 is to use the curly braces {}
Way 2 is to use set keyword
'''

' \nDecalring a Set, there are 2 ways\nWay 1 is to use the curly braces {}\nWay 2 is to use set keyword\n'

In [33]:
set1 = {100,11,5,2,20}
print(set1)
type(set1)

{2, 100, 5, 20, 11}

set

In [34]:
set2 = set({100,2,3,4,2,2,3,7})
# set2[0] = 3. This is not allowed
print(set2)
print(type(set2))
set2={1,5,6,2,3}
print(set2)
print(type(set2))

{2, 3, 100, 4, 7}
<class 'set'>
{1, 2, 3, 5, 6}
<class 'set'>

In [2]:
## Defining an empy set

set_var= set()
print(set_var)
print(type(set_var))
set_var={1,2,3,4,3}
print(set_var)

set()
<class 'set'>
{1, 2, 3, 4}

In [35]:
set_var={"Avengers","IronMan",'Hitman'}
print(set_var)
print(type(set_var))

{'IronMan', 'Avengers', 'Hitman'}
<class 'set'>

In [36]:
## Inbuilt function in sets

set_var.add("Hulk")
print(set_var)

{'IronMan', 'Hulk', 'Avengers', 'Hitman'}

In [37]:
set1={"Avengers","IronMan",'Hitman'}
set2={"Avengers","IronMan",'Hitman','Hulk2'}

In [38]:
set2.intersection_update(set1)
print(set2)
print(set1)

{'IronMan', 'Avengers', 'Hitman'}
{'IronMan', 'Avengers', 'Hitman'}

In [39]:
##Difference 
set3 = set2.difference(set1)
print(set3)
print(set2)
print(set1)

set()
{'IronMan', 'Avengers', 'Hitman'}
{'IronMan', 'Avengers', 'Hitman'}

In [40]:
## Difference update

set2.difference_update(set1)

In [41]:
print(set2)

set()

## Dictionaries

In Python dictionaries are written with curly brackets, or using the keyword dict and circular brackets(Constructor Method). They have keys and values. 

Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered(means elements are stored in any random order)

In [51]:
# Decalring an empty dictionary
dic={}
type(dic)

dict

In [52]:
dic2=dict()
type(dic2)

dict

In [53]:
set_ex={1,2,3,4,5}
type(set_ex)

set

In [56]:
## Let create a dictionary using curly braces

my_dict={"Car1": "Audi", "Car2":"BMW","Car3":"Mercidies Benz"}
print(my_dict)
print(my_dict["Car1"])

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Mercidies Benz'}
Audi

In [58]:
thisdict = dict(name = "John", age = 36, country = "Norway")
print(thisdict)
print(thisdict["age"])
print(thisdict["country"])

{'name': 'John', 'age': 36, 'country': 'Norway'}
36
Norway

In [59]:
print(type(my_dict))
print(type(thisdict))

<class 'dict'>
<class 'dict'>

In [60]:
##Access the item values based on keys

my_dict['Car1']

'Audi'

In [62]:
# Duplicate values will overwrite existing values: A key cannot have 2 values

thisdict = {"brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [61]:
# We can even loop throught the dictionaries keys

for x in my_dict:
    print(x)

Car1
Car2
Car3

In [309]:
# We can even loop throught the dictionaries values

for x in my_dict.values():
    print(x)

Audi
BMW
Mercidies Benz

In [63]:
# We can also check both keys and values
for x in my_dict.items():
    print(x)

('Car1', 'Audi')
('Car2', 'BMW')
('Car3', 'Mercidies Benz')

In [64]:
## Adding items in Dictionaries

my_dict['car4']='Audi 2.0'

In [65]:
my_dict

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Mercidies Benz', 'car4': 'Audi 2.0'}

In [66]:
my_dict['Car1']='MAruti'

In [67]:
my_dict

{'Car1': 'MAruti', 'Car2': 'BMW', 'Car3': 'Mercidies Benz', 'car4': 'Audi 2.0'}

### Nested Dictionary

In [315]:
car1_model={'Mercedes':1960}
car2_model={'Audi':1970}
car3_model={'Ambassador':1980}

car_type={'car1':car1_model,'car2':car2_model,'car3':car3_model}

In [316]:
print(car_type)

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Ambassador': 1980}}

In [317]:
## Accessing the items in the dictionary

print(car_type['car1'])

{'Mercedes': 1960}

In [318]:
print(car_type['car1']['Mercedes'])

1960

## Tuples

In [319]:
## create an empty Tuples

my_tuple=tuple()

In [320]:
type(my_tuple)

tuple

In [321]:
my_tuple=()

In [322]:
type(my_tuple)

tuple

In [323]:
my_tuple=("Krish","Ankur","John")

In [324]:
my_tuple=('Hello','World')

In [325]:
print(type(my_tuple))
print(my_tuple)

<class 'tuple'>
('Hello', 'World')

In [326]:
type(my_tuple)

tuple

In [327]:
## Inbuilt function
my_tuple.count('Krish')

0

In [328]:
my_tuple.index('Ankur')

ValueError: tuple.index(x): x not in tuple